{% extends 'layout.html.twig' %}

{% block content %}
<h1>Audience</h1>
		  <div class="col-sm-3 col-md-3" style=" height: 350px; ">
		    <div class="thumbnail">
		      <div class="caption">
		      	<h3>TF1</h3>
		        <h3>{{chaine1[0].calc1}} </h3>
		        <p><a href="?route=programs" class="btn btn-danger" role="button">Retour</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-3 col-md-3" style=" height: 350px; ">
		    <div class="thumbnail">
		      <div class="caption">
		      	<h3>France 2</h3>
		        <h3>{{chaine2[0].calc1}} </h3>
		        <p><a href="?route=programs" class="btn btn-danger" role="button">Retour</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-3 col-md-3" style=" height: 350px; ">
		    <div class="thumbnail">
		      <div class="caption">
		      	<h3>France 3</h3>
		        <h3>{{chaine3[0].calc1}} </h3>
		        <p><a href="?route=programs" class="btn btn-danger" role="button">Retour</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-3 col-md-3" style=" height: 350px; ">
		    <div class="thumbnail">
		      <div class="caption">
		      	<h3>Canal +</h3>
		        <h3>{{chaine4[0].calc1}} </h3>
		        <p><a href="?route=programs" class="btn btn-danger" role="button">Retour</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-3 col-md-3" style=" height: 350px; ">
		    <div class="thumbnail">
		      <div class="caption">
		      	<h3>France 5</h3>
		        <h3>{{chaine5[0].calc1}} </h3>
		        <p><a href="?route=programs" class="btn btn-danger" role="button">Retour</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-3 col-md-3" style=" height: 350px; ">
		    <div class="thumbnail">
		      <div class="caption">
		      	<h3>M6</h3>
		        <h3>{{chaine6[0].calc1}} </h3>
		        <p><a href="?route=programs" class="btn btn-danger" role="button">Retour</a></p>
		      </div>
		    </div>
		  </div>

{% endblock %}
