{% extends 'layout.html.twig' %}

{% block content %}

		  <div class="col-sm-12 col-md-12" style=" height: 350px; ">
		    <div class="thumbnail">
		      <div class="caption">
		        <h3>{{ program.name }} </h3>
		        <p>{{ program.description }} <p>
		        <p>Audience : {{ program.audience }} </p>
		        <p>Start : {{ program.start|date('l H:i') }} </p>
		        <p>Duration : {{ program.duration }} </p>
		        <p>Chaîne : {{ program.getChannelId }} </p>
		        <p><a href="?route=programs" class="btn btn-danger" role="button">Retour</a></p>
		      </div>
		    </div>
		  </div>
{% endblock %}
